table {
    border: 2px solid black;
    border-collapse: collapse;
  }

  th, td {
    border: 1px solid #000000;
    border-collapse: collapse;
  }

  .border_for_square{
    width: 200px;
    height: 200px;
    border: 4px solid black;
  }

  .red_square{
    z-index: -1;
    width: 120px;
    height: 120px;
    background-color: red;
  }

  .green_square{
    z-index: 1000;
    position: relative;
    margin-left: 40px;
    margin-top: -80px;
    width: 120px;
    height: 120px;
    background-color: lawngreen;
  }

  .blue_square{
    z-index: -1;
    margin-left: 80px;
    margin-top: -80px;
    width: 120px;
    height: 120px;
    background-color: blue;
  }

  header{
    width: 90%;
    height: 15%;
    margin-left: 5%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    background-color: pink;
  }

  footer{
    margin-top:12%;
    width: 90%;
    height: 15%;
    margin-left: 5%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    background-color: pink;
  }

  .menu{
      position: fixed;
      display: inline;
      top: 20%;
      bottom:20%;
      width: 10%;
      opacity: 50%;
      background-color: purple;
  }

  .central_block{
    display: block;
    margin-left: 300px;
    margin-top: 100px;
  }

  a{
    color:black;
    display: block;
  }


  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .item {
    height: 100px;
    margin-bottom: 2%;
  }
  
  .item:nth-child(1) {
    margin-top: 2%;
    width: 32%;
    background-color: red;
  }

  .item:nth-child(2) {
    margin-top: 2%;
    width: 64%;
    background-color: orange;
  }

  .item:nth-child(3) {
    width: 98%;
    height: 200px;
    background-color: green;
  }

  .item:nth-child(4) {
    height: 150px;
    width: 32%;
    background-color: brown;
  }

  .item:nth-child(5) {
    height: 150px;
    width: 32%;
    background-color: blue;
  }

  .item:nth-child(6) {
    height: 150px;
    width: 32%;
    background-color: purple;
  }

  @media(max-width:480px){
    .item:nth-child(n) {
      height: 100px;
      width: 100%;
      margin-bottom: 2%;
    }

    .item:nth-child(2) {
      margin-top: 0;
    }

    .item:nth-child(3) {
      height: 250px;
      width: 100%;
      margin-bottom: 2%;
    }

    .item:nth-child(4) {
      height: 150px;
    }

    .item:nth-child(5) {
      height: 150px;
    }

    .item:nth-child(6) {
      height: 150px;
    }
  }






